<h1>Make a custom playlist</h1>
<p>How many of each song would you like?</p>

<form>
    <input type="number" id="StandardWaltz" name="StandardWaltz" min="1" max="5">
    <label for="StandardWaltz">Standard Waltz:</label>
    <br>
    <input type="number" id="StandardQuickstep" name="StandardQuickstep" min="1" max="5">
    <label for="StandardQuickstep">Standard Quickstep:</label>
    <br>
    <input type="number" id="StandardFoxtrot" name="StandardFoxtrot" min="1" max="5">
    <label for="StandardFoxtrot">Standard Foxtrot:</label>
    <br>
    <input type="number" id="StandardVienneseWaltz" name="StandardVienneseWaltz" min="1" max="5">
    <label for="StandardVienneseWaltz">Standard Viennese Waltz:</label>
    <br>
    <button type="submit">Create Custom Playlist</button>
</form>