<h1>Make a custom playlist</h1>
<p>How many of each song would you like?</p>

<form>
    <input type="number" id="Standard Waltz" name="Standard Waltz" min="1" max="5">
    <label for="Standard Waltz">Standard Waltz:</label>
    <br>
    <input type="number" id="Standard Tango" name="Standard Tango" min="1" max="5">
    <label for="Standard Tango">Standard Tango:</label>
    <br>
    <input type="number" id="Standard Foxtrot" name="Standard Foxtrot" min="1" max="5">
    <label for="Standard Foxtrot">Standard Foxtrot:</label>
    <br>
    <input type="number" id="Standard Quickstep" name="Standard Quickstep" min="1" max="5">
    <label for="Standard Quickstep">Standard Quickstep:</label>
    <br>
    <input type="number" id="Standard Viennese Waltz" name="Standard Viennese Waltz" min="1" max="5">
    <label for="Standard Viennese Waltz">Standard Viennese Waltz:</label>
    <br>
    <input type="number" id="Smooth Waltz" name="Smooth Waltz" min="1" max="5">
    <label for="Smooth Waltz">Smooth Waltz:</label>
    <br>
    <input type="number" id="Smooth Tango" name="Smooth Tango" min="1" max="5">
    <label for="Smooth Tango">Smooth Tango:</label>
    <br>
    <input type="number" id="Smooth Foxtrot" name="Smooth Foxtrot" min="1" max="5">
    <label for="Smooth Foxtrot">Smooth Foxtrot:</label>
    <br>
    <input type="number" id="Smooth Viennese Waltz" name="Smooth Viennese Waltz" min="1" max="5">
    <label for="Smooth Viennese Waltz">Smooth Viennese Waltz:</label>
    <br>
    <input type="number" id="Latin Cha Cha" name="Latin Cha Cha" min="1" max="5">
    <label for="Latin Cha Cha">Latin Cha Cha:</label>
    <br>
    <input type="number" id="Latin Rumba" name="Latin Rumba" min="1" max="5">
    <label for="Latin Rumba">Latin Rumba:</label>
    <br>
    <input type="number" id="Latin Samba" name="Latin Samba" min="1" max="5">
    <label for="Latin Samba">Latin Samba:</label>
    <br>
    <input type="number" id="Latin Jive" name="Latin Jive" min="1" max="5">
    <label for="Latin Jive"></label>Latin Jive:</label>
    <br>
    <input type="number" id="Rhythm Cha Cha" name="Rhythm Cha Cha" min="1" max="5">
    <label for="Rhythm Cha Cha"></label>Rhythm Cha Cha:</label>
    <br>
    <input type="number" id="Rhythm Rumba" name="Rhythm Rumba" min="1" max="5">
    <label for="Rhythm Rumba"></label>Rhythm Rumba:</label>
    <br>
    <input type="number" id="Rhythm Swing" name="Rhythm Swing" min="1" max="5">
    <label for="Rhythm Swing"></label>Rhythm Swing:</label>
    <br>
    <input type="number" id="Rhythm Mambo" name="Rhythm Mambo" min="1" max="5">
    <label for="Rhythm Mambo"></label>Rhythm Mambo:</label>
    <br>
    <input type="number" id="Nightclub Salsa" name="Nightclub Salsa" min="1" max="5">
    <label for="Nightclub Salsa"></label>Nightclub Salsa:</label>
    <br>
    <input type="number" id="Nightclub Bachata" name="Nightclub Bachata" min="1" max="5">
    <label for="Nightclub Bachata"></label>Nightclub Bachata:</label>
    <br>
    <input type="number" id="Nightclub Merengue" name="Nightclub Merengue" min="1" max="5">
    <label for="Nightclub Merengue"></label>Nightclub Merengue:</label>
    <br>
    <button type="submit">Create Custom Playlist</button>
</form>