<h1>Ballroom Shuffle</h1>
<p>this will be the home page</p>


<form method="POST">
    <label for="Playlist Name"></label>Playlist Name:</label>
    <input type="text" id="Playlist Name" name="Playlist Name" placeholder="Playlist Name"/>
    <br>
    <button type="submit" name="playlist_type" value="rounds">Round Playlist</button>
    <button type="submit" name="playlist_type" value="standard/smooth">Standard/Smooth Playlist</button>
    <button type="submit" name="playlist_type" value="latin/rhythm">Latin/Rhythm Playlist</button>
    <button type="submit" name="playlist_type" value="custom">Custom Playlist</button>
</form>